<html>
    <body>
        <h1>{{ post.title }}</h1>
       Created on: {{ post.created_on }}
       <p>
        {{ post.body }}
       </p>
       
       <h2>Comments:</h2>

       <ol>
        {% for c in comments %}
        <li>    
           <p>  {{ c.comment }} </p>
           written by {{ c.author }} on {{ c.created_on }}
        </li>
        {% empty %}
        <li>No comments yet!</li>
        {% endfor %}
    </ol>

    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Post Comment">
        </form>
    </div>

</html>